name: docs.yml
on:
  push:
    branches: [ "master" ]
    paths:
      - "**/src/**"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy-docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@v4.6.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.2.2

      - name: Check out custom Dokka
        uses: actions/checkout@v5
        with:
          repository: pylonmc/dokka
          ref: pylon

      - name: Publish Dokka to Maven local
        run: ./gradlew publishToMavenLocal -Pversion=2.1.0-pylon-SNAPSHOT

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build docs
        run: ./gradlew :pylon-core:dokkaGenerate -PusePylonDokka=true

      - name: Upload docs
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'pylon-core/build/dokka'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
