name: Publish to Maven Central

on:
  push:
    tags: [ '*' ]

env:
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  SIGNING_KEY: ${{ secrets.PGP_KEY }}
  SIGNING_PASSWORD: ${{ secrets.PGP_PASSWORD }}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Set up JDK 21
        uses: actions/setup-java@v4.6.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Publish to Maven Central
        run: ./gradlew publishAggregationToCentralPortal -Pversion=${{ github.ref_name }}

      - name: Breakpoint if publish failed
        if: failure()
        uses: namespacelabs/breakpoint-action@v0
        with:
          duration: 30m
          authorized-users: Seggan
